body {
	overflow: hidden;
	background-color:  rgb(245, 245, 220);
}

#div1 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 6.17%;
	left: 40.00%;
	width: 20.00%;
	height: 5.18%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
    font-family: cursive;
	font-size: 185%;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

#div2 {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 16.74%;
	left: 40.01%;
	width: 20.00%;
	height: 7.31%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
    font-family: cursive;
	
	padding: 0px;
	margin: 1px;
}

#input3 {
	display: block;
	position: absolute;
    text-align: center;
	top: 29.85%;
	left: 40.13%;
	width: 19.55%;
	height: 6.98%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	border: solid rgb(0, 0, 0) 1px;
	border-radius: 6px;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.83vw;
	padding: 0.5%;
	padding-left: 1%;
	margin: 0px;
}

#button_berechnen {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
    text-align: center;
	justify-content: center;
	top: 41.06%;
	left: 40.00%;
	width: 12.68%;
	height: 5.52%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgb(73, 246, 87);
	border: solid rgb(0, 0, 0) 2px;
	border-radius: 6px;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1,5vw;
	padding: 0px;
	margin: 0px;
}

#Ergebnis_Fläche {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: 53.74%;
	left: 36.34%;
	width: 27.32%;
	height: 28.45%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	border-radius: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.83vw;
	padding: 0px;
	margin: 0px;
}

#Rechenweg_fläche {
	display: flex;
	position: absolute;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	top: -119.79%;
	left: 124.22%;
	width: 90.82%;
	height: 246.65%;
	z-index: 9;
	color: rgb(0, 0, 0);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	border: solid rgb(0, 0, 0) 0px;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.83vw;
	padding: 0px;
	margin: 0px;
}

